html.light {
  --font-color: #000000;
  --font-color-inverted: #ffffff;
  --color-1: #eeeeee;
  --color-2: #909090;
  --color-3: #6f6f6f;
  --color-4: #333333;
  --color-5: #222222;
  --background-color: #ffffff;
  --void-color: #18181a;
}
